Library/ilpp.pid
Library/ArtifactDB
Library/ScriptMapper
/Library
/Logs
/Logs
/Logs
/Logs
Logs/AssetImportWorker1-prev.log
/Logs
/Temp
PatrimonioGameJam.sln
/ProjectSettings
/ProjectSettings
/ProjectSettings
.vsconfig
Assembly-CSharp.csproj
Assets/InputSystem_Actions.inputactions
Assets/InputSystem_Actions.inputactions.meta
UserSettings/Layouts/default-6000.dwlt
